.component{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    background-color:#A3C9AA;
    display: flex;
    align-items: center;
    width: 27rem;
}
li{
    list-style: none;
}
ul{
    display:grid ;
    justify-content: center;
}
button{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}

@media (max-width:550px){

    #btnAdicionar{
        padding:0.5rem;
    }

    .negativo{
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
    }
    .positivo{
        padding: 10px;
        font-size: 10px;
        font-weight: bold;
    }

    #add{
        width: 10rem;
        height: 2rem;
    }
    .titulo{
        font-size: 40px;
    }

    .component{
        width: 20rem;
    }
    .button{
        padding: 0.3em 0.6em;
        font-size: 0.7em;
        font-weight: 500;
    }

    li{
        font-size: 11px;
    }

    .card {
      padding: 2em;
    }
    
    
    
    }